<div class="container-fluid">
	<div class="row">
		<div class="box col-xs-10 col-xs-offset-1">
			<h1><%= @place.name %></h1>
			<i><%= @place.address %></i>
			<br><br>
			<p><%= @place.description %></p>
 			<% if @place.longitude.present? && @place.latitude.present? %>
				<div id="map" data-latitude="<%= @place.latitude %>" data-longitude="<%= @place.longitude %>"></div>
				<br>
			<% end %>
			<% if current_user == @place.user %>
				<div class="pull-right">
					<%= link_to "Edit", edit_place_path(@place), class: "btn btn-primary" %>
					<%= link_to "Delete", place_path(@place), method: :delete, data: {confirm: "Are you sure you want to delete this place?"}, class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
	<%= simple_form_for @comment, wrapper: :vertical_form, url: place_comments_path(@place) do |f| %>
		<%= f.input :message %>
		<%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
		<%= f.submit "Add a comment", class: "btn btn-primary" %>
	<% end %>
</div>