<div class="container-fluid">
	<div class="row">
		<div class="box col-xs-10 col-xs-offset-1">
			<h1><%= @place.name %></h1>
			<i><%= @place.address %></i>
			<br><br>
			<p><%= @place.description %></p>
			<% if @place.photos.present? %>
				<div class="row">
					<% @place.photos.each do |photo| %>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="thumbnail">
								<%= image_tag photo.image, class: "img-responsive" %>
								<div class="caption text-center">
									<%= photo.caption %>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
 			<% if @place.longitude.present? && @place.latitude.present? %>
 				<br>
				<div id="map" data-latitude="<%= @place.latitude %>" data-longitude="<%= @place.longitude %>"></div>
				<br>
			<% end %>
			<% if current_user == @place.user %>
				<div class="pull-right">
					<!-- This button triggers the photo submission modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myPhotoModal">Add Photo</button>
					<%= link_to "Edit Info", edit_place_path(@place), class: "btn btn-primary" %>
					<%= link_to "Delete", place_path(@place), method: :delete, data: {confirm: "Are you sure you want to delete this place?"}, class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="box col-xs-10 col-xs-offset-1">
			<!-- This button triggers the comment submission modal -->
			<button type="button" class="btn btn-primary add-comment-btn" data-toggle="modal" data-target="#myCommentModal">Add Comment</button>
			<h2>Comments</h2>
			<% @place.comments.each do |comment| %>
				<blockquote>
					<% (1..comment.rating).each do %>
						<span class="glyphicon glyphicon-star"></span>
					<% end %> 
					- <%= comment.message -%>
					<small><%= comment.user.email %></small>
				</blockquote>
			<% end %>
		</div>
	</div>
</div>

<!-- Photo submission modal -->
<div class="modal fade" id="myPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myPhotoModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myPhotoModalLabel">Add Your Photo</h4>
			</div>
			<%= simple_form_for @photo, wrapper: :vertical_form, url: place_photos_path(@place) do |f| %>
				<div class="modal-body">
					<%= f.input :image %>
					<%= f.input :caption, label: "Caption (180 characters max)" %>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<%= f.submit "Add Photo", class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<!-- Comment submission modal -->
<div class="modal fade" id="myCommentModal" tabindex="-1" role="dialog" aria-labelledby="myCommentModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myCommentModalLabel">Add Your Comment</h4>
			</div>
			<%= simple_form_for @comment, wrapper: :vertical_form, url: place_comments_path(@place) do |f| %>
				<div class="modal-body">
					<% unless current_user %>
						<p><strong>You must be signed in to comment</strong></p>
					<% end %>
					<%= f.input :message %>
					<%= f.input :rating, collection: Comment::RATING_MAP, include_blank: false %>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<%= f.submit "Add Comment", class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>